h1 {
  color: blue;
  text-align: center;
}

body {
  background-color: rgb(220,220,220);
}
p{
  font-size: 18px;
  width: 70%;
  }
li {
  margin: 10px;
  font-size: 40px;
  list-style-type: none;
  color: rgb(153, 51, 51);
  text-decoration: underline;
}
img{
  width: 70%;
}
div {
    width: 70%;
    margin: 40px 20px 40px 30px;
}
.intro {
  font-size: 20px;
  margin: 10px;
}
